name: Deploy to Azure VM

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploying to Azure via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: 22
          script: |
            cd my-resume-site
            
            # این دو خط جایگزین git pull می‌شوند
            git fetch --all
            git reset --hard origin/main
            
            # ادامه ماجرا...
            sudo docker build --no-cache -t resume-app .
            sudo docker stop my-website || true
            sudo docker rm my-website || true
            sudo docker run -d -p 80:80 --restart always --name my-website resume-app